.createbtn{
    border: 2px solid #DDDDDD;
    width: 75px;
    height: 30px;
    background: white;
    float: right;
    margin-top: 5px;
}

/* board table */
.free-board-container{
    width: 900px;
    height: 1000px;
    margin: 0px auto 0 auto;
    border-top: 1px solid black;
}

.post-num{
    width: 80px;
    text-align: center;
}
.post-title{
    width:620px;
}
.post-writer{
    width: 120px;
    text-align: center;
}
.post-views{
    width: 80px;
    text-align: center;
}
.board-contents{
    margin-top: 55px;
}

.free-board-post{
    width: 100%;
    border-top: 2px solid #DDDDDD;
    height: 35px;
}

.freeboard-search{
    width: 100%;
    padding-left: 200px;
    margin: 0 auto;
}

.freeboard-searchbox{
    width:400px;
    margin: 10px 0 10px 20px;
}

/* Fonts */