{% extends 'base2.html' %}
{% block content %}
<div class="temp">
        <p class="slogan">서로의 지식을 연결하다</p>
        <p class="slogan-name">링크모아</p> 
</div>

<div class="board">
    <div class="lower-part">
        <div class="line"></div>
        <div class="free-board-container">
            {{post.owner}}<br>
            {{post.title}}<br>
            {{post.body}}<br>
            <button class="gofreeboard"onclick="location.href='{% url 'freeboard' %}'">목록</button>
            {% if user.username == post.owner %}
            <button class="editpost"onclick="location.href='{% url 'editpost' post.id %}'">수정하기</button>
            <button class="deletepost"onclick="location.href='{% url 'deletepost' post.id %}'">삭제하기</button>
            {% endif %}
            <div class="post-comments">
                <form method="POST" class="comment-form" action="{% url 'writecomment' post.id %}">
                    {% csrf_token %}
                    <textarea class="comment-box" name="comment"></textarea>
                    <button class="comment-submit">작성</button>
                </form>
                <table class="comments">
                    <tr class="comment-header">
                        <th class="comment-author">작성자</th>
                        <th class="comment-text">내용</th>
                        <th></th>
                    </tr>
                    {% for c in post.comments.all %}
                    <tr>
                        <td class="comment-author">{{c.author}}</td>
                        <td class="comment-text">{{c.text}}</td>
                        <td class="comment-delete"><button class="comment-delete-button"onclick="location.href='{% url 'deletecomment' post.id c.id %}'">삭제</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
        <h2 class="footer-title">LIKE LION</h2>
        <h5>khjvvv7@gmail.com</h5>
</footer>
{% endblock %}