{% extends 'base2.html' %}
{% block content %}
<div class="board">
    <div class="lower-part">
        <div class="free-board-container">
       
            <div class="board-contents">
                <table class="table-board">
                    <thead class="board-header">
                        <tr>
                            <th class="post-num">No.</th>
                            <th class="post-title">&nbsp;&nbsp;&nbsp;&nbsp;제목</th>
                            <th class="post-writer">작성자</th>
                            <th class="post-date">작성일</th>
                            <th class="post-views">조회수</th>
                            <th class="post-heart">공감</th>
                        </tr>
                    </thead>
                    {% for post in page_posts %}
                        <tr class="free-board-post">
                            <td class="post-num">{{post.id}}</td>
                            <td class="post-title1"><a href="{% url 'detail' post.id %}" class="post-title-custom">{{post.title}}</a></td>
                            <td class="post-writer">{{post.owner}}</td>
                            <td class="post-date">{{post.date}}</td>
                            <td class="post-views">{{post.views}}</td>
                            <td class="post-heart"></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="newpost">
                <button class="createbtn"onclick="location.href='{% url 'newpost' %}'">글쓰기</button>
            </div>
            <div class="freeboard-search">
                <form method="POST" action="{% url 'freeboardSearch' %}">
                    {% csrf_token %}
                    <select id="" name='condition'>
                        <option class="titlesearch" value="titlesearch">글제목</option>
                        <option class="bodysearch" value="bodysearch">내용</option>
                        <option class="ownersearch" value="ownersearch">작성자</option>
                    </select>
                    <input type="text" class="freeboard-searchbox" name='input' /><button class="freeboard-btn">검색</button>
                </form>
            </div>
            <div class="paginator">
                {% if page_posts.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{page_posts.previous_page_number}}">Previous</a>
                {% endif %}
                    <span>{{page_posts.number}}</span>
                    <span>of<span>
                    <span>{{page_posts.paginator.num_pages}}</span>
        
                {% if page_posts.has_next %}
                    <a href="?page={{page_posts.next_page_number}}">Next</a>
                    <a href="?page={{page_posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}