{% extends 'accounts_base.html' %}
{% block content %}

{% if error == 'username or password is incorrect.' %}
    <script>alert("아이디 또는 패스워드가 틀렸습니다.");</script>
{%endif%}
        <form method="POST" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            <h1 class="login-text">로그인</h1>
            <label for="name">ID</label>
            <div class="signupform-group">
                <input id ="username" type="text" placeholder="" name="username"><br>
                <div class="error">
                  <i class="fas fa-exclamation-circle"></i>
                  Error encountered!
                </div>
            </div>
            <label for="password">Password</label>
            <div class="signupform-group">
                <input id ="password" type="password" placeholder="" name="password"><br>
                <div class="error">
                  <i class="fas fa-exclamation-circle"></i>
                </div>
            </div>
            <input type="submit" class="sign-input" value="Login">
            <div class="form-bottom">
              <a href="#">Forgot Password?</a>
            </div>
        </form>

    {% endblock %}