{% extends 'accounts_base.html' %}
{% block content %}

{% if error == 'username or password is incorrect.' %}
    <script>alert("아이디 또는 패스워드가 틀렸습니다.");</script>
{%endif%}
<div class="container-linkmoa">
    <div class="loginBox">
        
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input id ="username" type="text" placeholder="username" name="username"><br>
            <input id ="password" type="password" placeholder="password" name="password"><br>
        
            <input class="btn btn-primary" type="submit" value="로그인">
        </form>
        
        <button>아이디/비밀번호 찾기</button>
        <button>회원가입</button>
    </div>

    {% endblock %}