{% extends 'accounts_base.html' %}
{% block content %}
<form class="signup-form" method='POST' action="{% url 'signup' %}">
        {% csrf_token %}
        <h1>회원가입</h1>
        <label for="name">ID</label>
        <div class="signupform-group">
        <input type="text" placeholder=" " id="name" required name="username" class="signupform-group-input"><button>중복확인</button>
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
          Error encountered!
        </div>
      </div>
      <label for="email">Email</label>
      <div class="signupform-group">
        <input type="email" placeholder=" " id="email" required name="email">
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <label for="password">Password</label>
      <div class="signupform-group">
        <input type="password" placeholder=" " id="password" required name="password">
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <label for="confirm">Confirm</label>
      <div class="signupform-group">
        <input type="password" placeholder=" " id="confirm" required name="password_confirm">
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <input type="submit" value="Sign Up" class="sign-input">
      <div class="form-bottom">
        <a href="#">Forgot Password?</a>
      </div>
    </form>
{% endblock %}