@import url('https://fonts.googleapis.com/css?family=Courgette|East+Sea+Dokdo|family=Roboto|Sunflower:300|Jua|Noto+Sans+KR&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{margin: 0;}
body{
    margin : 0 0 0 0;
}
.container-linkmoa{
    margin: 0;
    height: 900px;
    background-color: #FFF;
}
/*38B9C8 - > 333333*/

.aside{
    width: 60px;
    height: 520px;
    border-radius: 0 35px 35px 0;
    float: left;
    margin-top: 50px;
    position:fixed;
    background: #E9E9E9;
    text-align: center;
    vertical-align: center;
    
}

/* Header Part */
.main-header-linkmoa{
    margin: 0;
    border: 1.5px solid #38B9C0;
    /* border: 1.5px solid #343434; */

    background-color: #38B9C8;
    width: 1fr;
    height: 96px;
}
.logo-part{
    margin: 0 0 0 0;
    float: left;
    height: 94px;
    padding-top: 25px;
}
.logo-link{
    color: #fff;
    /* color: #cdcdcd; */
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin: 0 50px 0 240px;
}
.nav-part{  
    height: 96px;
}
.nav-link{
    color: #FEFEFE;
    font-family: 'Noto Sans KR', sans-serif;
}

.header-ul-linkmoa{
    list-style: none;
    overflow: auto;
    float: right;
    margin: 35px 200px 0 0;
}

.header-li1, .header-li2, .header-li3, .header-li4{
    float: left;
    height: 100%;
    margin-left: 20px;
}

/*board-part*/
#sort-select{
    margin:0 0 0 240px;
}
.upper-part{
    margin: 0 auto;
    display: grid;
    align-content: end;
    grid-template-columns: 0.5fr 0.5fr;
}

.lower-part{
    margin-top:30px;
    padding: 0 150px 0 150px;
}
.mkdir-input{
    width: 200px;
    border: 3px solid #38B9C8;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
    height: 38px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }
  .form-mkdir{
      float: left;
  }
.line{
    height: 50px;
    width: 1219px;
    margin: 0 auto;
    background-color: #38B9C8;
}
.objects{
    display: grid;
    justify-items: center;
    height: 500px;
    width: 1219px;
    margin: 0 auto;
    background-color: #FFFEEE;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
}
.directory-nav{
    list-style:none;
    height: 38px;
    margin-bottom: 0;
}
.directory-nav-items{
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
/* Side-bar Part */
.side-bar{
    padding: 0 10px 0 10px;
    margin: 20px 0 0 20px ;
    border: 1.5px solid red;
    width: 300px;
    height: 740px;
    float: left;}

#directory-bar{
    border: 1px solid black;
    width: 300px;
    height: 550px;
    margin-top: 20px;
}

#directory-container, .memolist{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#directory-container > li{
    border: 1px solid red;
}
#directory-container >li >a{
    font-size: 0.85rem;
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border-right: 1px solid rgba(0,0,0,0.15);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.memolist{
    position: absolute;
    background: wheat;
    opacity: 0;
    visibility: hidden;
}

.memolink > a{
    color:black;
    text-decoration: none;
}

#directory-container > li:hover .memolist{
    opacity: 1;
    visibility: visible;
}

/* Search-bar Part */

#urlList{
    margin: 10px 0 0 0;
}

/* Items Part */
.items{
    margin: 20px 0 0 20px ;
    border: 1.5px solid green;
    width: 500px;
    height: 740px;
    float: left;
}

.memoContainer{
    position: relative;
    margin: 10px;
    width: 200px;
    height: 270px;
    float: left;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #38B9C8, 
        rgba(255, 255, 255, 0)
      ) 1 100%;
}

.buttons{
    float: right;
}

.i-btn, .i-btn-cd{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

.loginBox{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: 80px auto;
}

.signupBox{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: 40px auto;
}

.dir-delete-btn{
    float: right;
}

.mvdir-btn{
    position: center;
}

/*search bar*/
.search-form{
    width: 500px;
    position: relative;
    display: flex;
    margin-left: 240px;
}
.searchTerm , .urlArea{
    width: 300px;
    border: 3px solid #38B9C8;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }

  .searchTerm{
    height: 38px;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  
  .searchTerm:focus, .urlArea:focus{
    color: #333333;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #38B9C8;
    background: #38B9C8;
    /* border: 1px solid #333333; */
    /* background: #333333; */
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 1px;
  }

  /*Font*/
  .slogan, .slogan-name{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    margin: 0 0 0 240px;
  }
  .slogan-name{
    font-size: 30px;
    margin-left: 480px;
  }
  .downnum{
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
  }
  .taglist{
      margin-top:100px;
  }
  .memo-key{
      margin-left: 10px;
  }
  .memo-date{
      float: right;
      margin-right: 10px;
      font-size: 15px;
      font-family: 'Sunflower', sans-serif;
  }
  .memo-id{
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Sunflower', sans-serif;
  }
  .aside-logo{
    transform: rotate(90deg);
    margin-top: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #554D4A;
  }
  .directory-a{
    font-family: 'Roboto', sans-serif;
    color: #FFFEEE;
  }
  .mkdirtxt{
    font-family: 'Jua', sans-serif;}
  .d-nav-item{
    font-family: 'Jua', sans-serif;}

  /*Button*/
  .button-list{
      position: absolute;
      width: 200px;
      bottom: 25px;
      text-align: center;
  }

  .btns{
      float: right;
      margin-right: 10px;
    }

    .edit-btn{
        position: absolute;
        margin-top: 10px;
        left: 1300px;
        background-color: #FFFEEE;
        border: 2.5px solid #38B9C0;
        border-radius: 10px;
        outline: none;
    }

    .edit-btn:hover, .d-nav-btns:hover{
        background-color: #38B9C8;
        transition: 0.3s;
        color: #FFFEEE;
    }

    .d-nav-btns{
        height: 28px;
        width: 70px;
        border: 2px solid #38B9C8;
        border-radius: 10px 10px 0 0;
        border-bottom: none;
        background: #FEFEFE;
        font-size: 10px;
    }