@import url('https://fonts.googleapis.com/css?family=Courgette|East+Sea+Dokdo|Noto+Sans+KR&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    margin : 0 0 0 0;
}
.container-linkmoa{
    margin: 0;
    height: 900px;
}
/*38B9C8 - > 333333*/

/* Header Part */
.main-header-linkmoa{
    margin: 0;
    border: 1.5px solid #38B9C0;
    /* border: 1.5px solid #343434; */

    background-color: #38B9C8;
    width: 1fr;
    height: 96px;
}
.logo-part{
    margin: 0 0 0 0;
    float: left;
    height: 94px;
    padding-top: 25px;
}
.logo-link{
    color: #fff;
    /* color: #cdcdcd; */
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin: 0 50px 0 240px;
}
.nav-part{  
    height: 96px;
}
.nav-link{
    color: #FEFEFE;
    font-family: 'Noto Sans KR', sans-serif;
}

.header-ul-linkmoa{
    list-style: none;
    overflow: auto;
    float: right;
    margin: 35px 200px 0 0;
}

.header-li1, .header-li2, .header-li3, .header-li4{
    float: left;
    height: 100%;
    margin-left: 20px;
}

/*board-part*/
#sort-select{
    margin:0 0 0 240px;
}
.upper-part{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.lower-part{
    margin-top:30px;
    padding: 0 150px 0 150px;
}
.line{
    height: 20px;
    background-color: #38B9C8
}
.objects{
    height: 500px;
    background-color: #EFEFEF;
}
/* Side-bar Part */
.side-bar{
    padding: 0 10px 0 10px;
    margin: 20px 0 0 20px ;
    border: 1.5px solid red;
    width: 300px;
    height: 740px;
    float: left;
}

#user-info{
    border: 1px solid black;
    width: 300px;
    height: 150px;
    margin-top: 20px;
}

#directory-bar{
    border: 1px solid black;
    width: 300px;
    height: 550px;
    margin-top: 20px;
}

#directory-container, .memolist{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#directory-container > li{
    border: 1px solid red;
}
#directory-container >li >a{
    font-size: 0.85rem;
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border-right: 1px solid rgba(0,0,0,0.15);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.directory{
    background: black;
}

.memolist{
    position: absolute;
    background: wheat;
    opacity: 0;
    visibility: hidden;
}

.memolink > a{
    color:black;
    text-decoration: none;
}


#directory-container > li:hover .memolist{
    opacity: 1;
    visibility: visible;
}

/* Search-bar Part */
.search-bar{
    padding: 0 10px 0 10px;
    margin: 20px 0 0 20px ;
    border: 1.5px solid blue;
    width: 400px;
    height: 740px;
    float: left;
}

#keyword-search{
    margin: 10px 0 0 0;
}

#urlList{
    margin: 10px 0 0 0;
}

/* Items Part */
.items{
    margin: 20px 0 0 20px ;
    border: 1.5px solid green;
    width: 500px;
    height: 740px;
    float: left;
}

.memoContainer{
    border: 2.5px solid purple;
    margin: 10px;
    border-radius: 15px;
    width: 250px;
    float: left;
    background-color: #fff
}

.buttons{
    float: right;
}

.i-btn, .i-btn-cd{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

.loginBox{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: 80px auto;
}

.signupBox{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: 40px auto;
}

.dir-delete-btn{
    float: right;
}

.mvdir-btn{
    position: center;
}

/*search bar*/
.search-form{
    width: 500px;
    position: relative;
    display: flex;
    margin-left: 240px;
}
.searchTerm {
    width: 300px;
    border: 3px solid #38B9C8;
    border-right: none;
    padding: 5px;
    height: 38px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #38B9C8;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #38B9C8;
    background: #38B9C8;
    /* border: 1px solid #333333; */
    /* background: #333333; */
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 1px;
  }

  /*Font*/
  .slogan, .slogan-name{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    margin: 0 0 0 240px;
  }
  .slogan-name{
    font-size: 30px;
    margin-left: 480px;
  }

  .taglist{
      margin-top:100px;
  }