@import url('https://fonts.googleapis.com/css?family=Courgette|East+Sea+Dokdo|Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
    margin : 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.container-linkmoa{
    margin: 0;
    height: 900px;
}
/*38B9C8 - > 333333*/
.aside{
    width: 60px;
    height: 400px;
    border-radius: 0 35px 35px 0;
    float: left;
    margin-top: 20px;
    position:fixed;
    background: #E9E9E9;
    text-align: center;
    vertical-align: center;
    
}
.aside-logo{
    transform: rotate(90deg);
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #554D4A;
  }

.url-filter{
    height: 400px;
}

/* Header Part */
.main-header-linkmoa{
    margin: 0;
    border: 1.5px solid #38B9C0;
    /* border: 1.5px solid #343434; */

    background-color: #38B9C8;
    width: 1fr;
    height: 96px;
}
.logo-part{
    margin: 0 0 0 0;
    float: left;
    height: 94px;
    padding-top: 25px;
}
.logo-link{
    color: #fff;
    /* color: #cdcdcd; */
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin: 0 50px 0 240px;
}

/* nav */
.nav {
    height: 100px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 30px 0 80px 0;
    border-bottom: 0.5px solid #38B9C0;
}

.sub-nav {
    width: 1080px;
    height: 45px;
    position: relative;
    margin: 30px auto;
    text-align: center;
}
.nav-ul{
    list-style: none;
    width: 100%;
    margin: auto;
    padding-top: 12px;
    height:100%;
    display: inline-block;
}
.nav-ul li {
    display: inline-block;
    padding: 0 15px 0 0;
}



.upper-part {
    margin: 30px 0 0 0;
    width: 100%;
    height: 100%;
}

.nav-link{
    color: #38B9C0;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.loginout {
    float: right;
    width: 20%;
    height: 100%;
    text-align: center;
    position: relative;
}


.fa-search:before {
    color: #d3d3d3;
}

/*board-part*/
.sort {
    margin: 3px;
    width: 10%;
    float: right;
    height: 98%;
    position: relative;
}
#sort-select {
    border-radius: 20px;
    padding: 12px 20px;
    outline: 0;
    color: #7b7b7b;
    border: 1px solid #efefef;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 90%;
    font-size: 13px;
}

.arrow {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}


form {
    text-align: center;
}
.lower-part{
    /* margin-top:30px; */
    /* padding: 0 150px 0 150px; */
}
.mkdir-input{
    width: 200px;
    border: 2px solid #38B9C8;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: black;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
  }
  .form-mkdir{
    margin: 2em auto;
  }

  .line{
    /* height: 50px;
    width: 1219px;
    margin: 0 auto;
    background-color: #38B9C8;
    border-radius: 15px 15px 0 0; */
    height: 50px;
    margin: 3em auto;
    /* background-color: #38B9C8;
    border-radius: 15px 15px 0 0; */
    background: linear-gradient(to right, #6478FB, #8763FB, #38B9C0 );
}
.objects{
    max-width: 1230px;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    justify-items: center;
    height: 500px;
    width: 1219px;
    margin: 0 auto;
    background-color: #FFFEEE;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr; */
}


.directory-nav{
    overflow: hidden;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
  
.directory-nav li{
    float: left;
    margin: 0 .5em 0 0;
}

.directory-nav #current {
    background: blue;
}



.directory-nav-items{
    margin: 0;
    padding: 0;
    border : 0;
    float: left;
}
/* Side-bar Part */
.side-bar{
    padding: 0 10px 0 10px;
    margin: 20px 0 0 20px ;
    border: 1.5px solid red;
    width: 300px;
    height: 740px;
    float: left;
}

#user-info{
    border: 1px solid black;
    width: 300px;
    height: 150px;
    margin-top: 20px;
}

#directory-bar{
    /* border: 1px solid black;
    width: 300px;
    height: 550px;
    margin-top: 20px; */
}

#directory-container, .memolist{
    /* margin: 0;
    padding: 0;
    list-style-type: none; */
}

#directory-container > li{
    border: 1px solid red;
}
#directory-container >li >a{
    font-size: 0.85rem;
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border-right: 1px solid rgba(0,0,0,0.15);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.directory{
    background: black;
}

.memolist{
    position: absolute;
    background: wheat;
    opacity: 0;
    visibility: hidden;
}

.memolink > a{
    color:black;
    text-decoration: none;
}


#directory-container > li:hover .memolist{
    opacity: 1;
    visibility: visible;
}

/* Search-bar Part */
/* .search-bar{
    padding: 0 10px 0 10px;
    margin: 20px 0 0 20px ;
    border: 1.5px solid blue;
    width: 700px;
    height: 740px;
    float: left;
} */

#keyword-search{
    margin: 10px 0 0 0;
}

#urlList{
    margin: 10px 0 0 0;
}

/* Items Part */
.items{
    margin: 20px 0 0 20px ;
    border: 1.5px solid green;
    width: 500px;
    height: 740px;
    float: left;
}

.memoContainer{
    max-width: 200px;
    margin-bottom: 1rem;
    position: relative;
    margin: 10px;
    width: 100%;
    height: 270px;
    float: left;
    border: 1px solid #d3d3d380;
    border-radius: .5em;
    box-shadow: 1px 1px 4px 0 rgba(32, 33, 36, 0.2);
    padding: 0 .5rem;
    /* position: relative;
    margin: 10px;
    width: 200px;
    height: 270px;
    float: left;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-image:  */
      /* linear-gradient(
        to bottom, 
        #38B9C8, 
        rgba(255, 255, 255, 0)
      ) 1 100%; */
}
.memoContainer h2{
    text-align: center;
}
.memoContainer h2 a{
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.buttons{
    float: right;
}

.i-btn, .i-btn-cd{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

.loginBox{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: 80px auto;
}

.signupBox{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: 40px auto;
}

.dir-delete-btn{
    float: right;
}

.mvdir-btn{
    position: center;
}

/*search bar*/
.search {
    /* margin: 0;
    width: 70%; */
    /* float: right; */
    /* height: 100%; */
}
.search-form{
    position: absolute;
    top: 50%;
    left: 280px;
    margin-top: -20px;
    width: 521px;
}
.searchTerm {
    padding: 12px 20px;
    width: 400px;
    border: 1px solid #e3e3e3;
    box-shadow: none;
    border-radius: 24px;
    outline: none;

  }
  
.searchTerm:focus{
color: #000000;
box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
}

  .searchButton {
    cursor: pointer;
    font-size: 20px;
    border: none;    
    left: -55px;
    position: relative;
    background-color: transparent;
    top: 2px;
  }

  /*Font*/
  .slogan, .slogan-name{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    margin: 0 0 0 240px;
  }
  .slogan-name{
    font-size: 30px;
    margin-left: 480px;
  }

  .taglist{
      margin-top:100px;
  }

  .button-list{
    position: absolute;
    width: 200px;
    bottom: 25px;
    text-align: center;
}

.btns{
    float: right;
    margin-right: 10px;
  }

  /* .edit-btn{
      position: absolute;
      margin-top: 10px;
      left: 1300px;
      top: 530px;
      background-color: #FFFEEE;
      border: 2.5px solid #38B9C0;
      border-radius: 10px;
      outline: none;
  } */

  .edit-btn:hover, .d-nav-btns:hover{
      background-color: #38B9C8;
      transition: 0.3s;
      color: #FFFEEE;
  }

  .d-nav-btns{
      margin-left: 5px;
      height: 50px;
      width: 110px;
      border: 1px ;
      border-bottom: none;
      background: #FEFEFE;
      font-size: 10px;
      box-shadow: 1px 1px 4px 0 rgba(32, 33, 36, 0.2);
      font-size: 15px;
  }