<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../static/css/default.css?ver=1.0" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-linkmoa">
            <header class="main-header-linkmoa">
                <ul class="header-ul-linkmoa">
                    <li class="header-li1"><h2><a href="#">링크모아</a></h2></li>
                    {% if user.is_authenticated %}
                    <li class="header-li2">
                        <form id="logout" method="POST" action="{%url 'logout'%}">
                                {% csrf_token%}
                                <input class="btn btn-primary" type="submit" value="로그아웃">
                        </form>
                        <li class="header-li3"><a href="{% url 'index' %}">MYPAGE</a></li>
                    </li>
                    {% else %}
                    <li class="header-li2"><a href="{% url 'login' %}">로그인</a></li>
                    <li class="header-li3"><a href="{% url 'signup' %}">회원가입</a></li>
                    {% endif%}
                </ul>
            </header>
            <div class="board">
                <h1>Dash Board</h1>
                <select id="sort-select" onchange="location = this.value;">
                    <option class="sort-date" value="/">최신순</option>
                    <option class="sort-likes" value="?sort=likes">다운로드순</option>
                    {% if user.is_authenticated %}
                    <option class="sort-mymemo" value="?sort=mymemo">내 메모</option>
                    {% endif %}
                </select><br><br>
                검색 :
                <form method="POST" action="{% url 'search_board' %}">
                    {% csrf_token %}
                    <input type="text" placeholder="search" name="searchBox">
                </form>
                {% for memo in memos.all %}
                <div class="memoContainer">
                    <h2>'<a href="#">{{memo.keyword}}</a>'</h2>
                    <h4>{{memo.owner}}</h4>
                    <p>{{memo.urls}}</p>
                    {% if user.is_authenticated %}
                      {% if user.id == memo.user_id %}
                      <button class="i-btn"onclick="location.href='{%url 'undo_share' memo.id %}'"><i class="fa fa-undo"></i></button>
                      {% else %}
                      <button class="i-btn"onclick="location.href='{%url 'download_memo' memo.id %}'"><i class="fa fa-cloud-download"></i></button>
                      {% endif %}
                    {% endif %}
                  </div>
                {% endfor %}
        </div>
        
        <div class="container">
        </div>

        <script>
        // get url query string
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        // 정렬방식 셀렉트 박스 유지
        $(document).ready(function(){
        var sort = getUrlParameter('sort');
        if(sort == 'likes'){
            $('.sort-likes').prop('selected', 'selected')
        }else if(sort == 'mymemo'){
            $('.sort-mymemo').prop('selected', 'selected')
        }else{
            $('.sort-date').prop('selected', 'selected')
        }
        });
        </script>
</body>
</html>