{% extends 'base.html' %}
{% block content %}

<script src="../../static/js/linkprint.js"></script>

<div class="temp">
    <p class="slogan">서로의 지식을 연결하다</p>
    <p class="slogan-name">링크모아</p> 
</div>

<div class="board">
    <div class="lower-part">
        <div class="line"></div>
        <div class="board-container">
            <div class="board-header">
                <button onclick="location.href='{% url 'createpost' %}'">글쓰기</button>
            </div>
            <div class="board-contents">
                글1<br>
                글2
            </div>
            <div class="board-navi">
                검색창 & Pagination
            </div>
        </div>
    </div>
</div>

<footer class="footer">
        <h2 class="footer-title">LIKE LION</h2>
        <h5>khjvvv7@gmail.com</h5>
</footer>
    
<script src="../../static/js/query.js"></script>
{% endblock %}