{% extends 'base.html' %}
{% block content %}

<p class="slogan">서로의 지식을 연결하다</p>
            <p class="slogan-name">링크모아</p> 

            <div class="aside"><p class="aside-logo">l&nbsp;i&nbsp;k&nbsp;e&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;l&nbsp;i&nbsp;o&nbsp;n</p></div>
            <div class="board">
                
                <div class="lower-part">
                    <div class="line"></div>
                    <div class="objects">
                    {% for memo in memos.all %}
                    <div class="memoContainer">
                        <h2>'<a href="#">{{memo.keyword}}</a>'</h2>
                        <h4>{{memo.owner}}</h4>
                        <p>{{memo.urls}}</p>
                        {% if user.is_authenticated %}
                            {% if user.id == memo.user_id %}
                            <button class="i-btn"onclick="location.href='{%url 'undo_share' memo.id %}'"><i class="fa fa-undo"></i></button>
                            {% else %}
                            <button class="i-btn"onclick="location.href='{%url 'download_memo' memo.id %}'"><i class="fa fa-cloud-download"></i></button>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <script>
            // get url query string
                var getUrlParameter = function getUrlParameter(sParam) {
                    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');

                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : sParameterName[1];
                        }
                    }
                };
            // 정렬방식 셀렉트 박스 유지
                $(document).ready(function(){
                var sort = getUrlParameter('sort');
                if(sort == 'likes'){
                    $('.sort-likes').prop('selected', 'selected')
                }else if(sort == 'mymemo'){
                    $('.sort-mymemo').prop('selected', 'selected')
                }else{
                    $('.sort-date').prop('selected', 'selected')
                }
                });
            </script>
{% endblock %}