{% extends 'base.html' %}
{% block content %}

<script src="../../static/js/linkprint.js"></script>

<div class="temp">
    <p class="slogan">서로의 지식을 연결하다</p>
    <p class="slogan-name">링크모아</p> 
</div>

<div class="board">
    <div class="lower-part">
        <div class="line"></div>
        <div class="objects">
        {% for memo in board_posts %}
        <div class="memoContainer">
            <h2 class="memoKey"><a href="#">{{memo.keyword}}</a></h2>
            <h5 class="memoOwner">{{memo.owner}}</h5>
            <div id="memotxt{{forloop.counter}}" style="display: none">{{memo.urls}}</div>

            <div id="result{{forloop.counter}}">sample</div>
            <a href="#" data-toggle="modal" data-target="#moreModal" data-id = "{{memo.id}}" data-keyword= "{{memo.keyword}}" data-urls="{{memo.urls}}" data-tag="{{memo.tag}}">&nbsp;더보기...</a><br><br>
            {% comment %}
            {% load tagging_tags %}
            {% tags_for_object memo as tags %}
            {% for tag in tags %}
            <a href="{% url 'tag_board' tag.name %}">#{{tag.name}}</a>
            {% endfor %}
            {% endcomment %}
            {% for tag in memo.tags.all %}
                <a href="{% url 'tag_board' tag.slug %}">#{{tag}}</a>
            {% endfor %}
            <div class="button-list">
                {% if user.is_authenticated %}
                {% if user.id == memo.user_id %}
                <button class="i-btn"onclick="location.href='{%url 'undo_share' memo.id %}'"><i class="fa fa-undo"></i></button>
                {% else %}
                <button class="i-btn"onclick="location.href='{%url 'download_memo' memo.id %}'"><i class="fa fa-cloud-download"></i></button>
                {% endif %}
            {% endif %}
            </div>
            <script>
                linkPrint({{forloop.counter}});
            </script>
        </div>
        {% endfor %}
        </div>
        <div class="paginator">
                {% if board_posts.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{board_posts.previous_page_number}}">Previous</a>
                {% endif %}
                    <span>{{board_posts.number}}</span>
                    <span>of<span>
                    <span>{{board_posts.paginator.num_pages}}</span>
        
                {% if board_posts.has_next %}
                    <a href="?page={{board_posts.next_page_number}}">Next</a>
                    <a href="?page={{board_posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
    </div>
</div>

{% include 'moreModal.html' %}

<footer class="footer">
        <h2 class="footer-title">LIKE LION</h2>
        <h5>khjvvv7@gmail.com</h5>
</footer>
    
<script src="../../static/js/query.js"></script>
<script>
// get url query string
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
// 정렬방식 셀렉트 박스 유지
    $(document).ready(function(){
    var sort = getUrlParameter('sort');
    if(sort == 'likes'){
        $('.sort-likes').prop('selected', 'selected')
    }else if(sort == 'mymemo'){
        $('.sort-mymemo').prop('selected', 'selected')
    }else{
        $('.sort-date').prop('selected', 'selected')
    }
    });
</script>
{% endblock %}