{% extends 'base.html' %}
{% block content %}

<script src="../../static/js/linkprint.js"></script>
<div class="urls" id="app">
    <form method="POST" action ="{% url 'make_memo' %}" class="">
        {% csrf_token%}
        <br>
        검색 :
        <textarea class="urlArea searchTerm" id="urlList" wrap="off" name='url' v-model="newMessage"></textarea>
        <input id="keyword-search" type="text" placeholder="키워드 입력" name='key' class="searchTerm">
        <button id="keyword-button" v-on:click="renew()" class="searchButton">
                <i class="fa fa-search" aria-hidden="true" ></i>
        </button>
        <br>
    </form>
</div>
<div class="lower-part">
    <div class="folder-plus">
        <form method="POST" action ="{% url 'mkdir' %}" class="form-mkdir">
            {% csrf_token%}
            <span class="mkdirtxt">폴더 만들기 : </span><input id="mkdir" type="text" placeholder="폴더 이름 입력" name='dirname' class="mkdir-input">
            <button class="btn-plus i-btn"><i class="fa fa-plus"></i></button>
        </form>
    </div>
    <div class="line">
        <ul class="directory-nav">
            <li class="directory-nav-items"><button class="d-nav-btns"onclick="location.href='{%url 'changedir' 'recently' %}'"><span class="d-nav-item">Recently</span></button></li>
            {% for a in user.profile.get_fields_name %}
                <li class="directory-nav-items"><button class="d-nav-btns"onclick="location.href='{%url 'changedir' a %}'"><span class="d-nav-item">{{a}}</span></button></li>
            {% endfor %}
            <button class="edit-btn"id="setSelect" data-toggle="modal" data-target="#editdirModal" data-id= "{{memo.id}}"><span class="d-nav-item">편집</span></button>
        </ul>
    </div>

    <div class="objects">
        {% for memo in posts %}
            <div class="memoContainer">
                <h2 class="memoKey"><a href="#">{{memo.keyword}}</a></h2>
                <span class="buttons">
                    <button class="i-btn" type="button" data-toggle="modal" data-target="#editModal" data-id = "{{memo.id}}" data-keyword= "{{memo.keyword}}"
                            data-urls="{{memo.urls}}" data-memo="{{memo.memo}}" data-tag="{{memo.tag}}"><i class="fa fa-edit"></i></button> 
                    <button class="i-btn"id="setSelect" data-toggle="modal" data-target="#moveModal" data-id= "{{memo.id}}"><i class="fa fa-folder"></i></button>
                </span>
                <div id="memotxt{{forloop.counter}}" style="display: none">{{memo.urls}}</div>
                <div id="result{{forloop.counter}}">sample</div>
                <a href="#" data-toggle="modal" data-target="#moreModal" data-id = "{{memo.id}}" data-keyword= "{{memo.keyword}}" data-urls="{{memo.urls}}" data-memo="{{memo.memo}}" data-tag="{{memo.tag}}">&nbsp;더보기...</a><br><br>
                {% load tagging_tags %}
                {% tags_for_object memo as tags %}
                {% for tag in tags %}
                <a href="{% url 'tag_board' tag.name %}">#{{tag.name}}</a>
                {% endfor %}
                <div class="button-list">
                    <span class="btns">
                        <button class="i-btn"onclick="location.href='{%url 'share_memo' memo.id %}'"><i class="fa fa-upload"></i></button>
                        <button class="i-btn"onclick="location.href='{%url 'delete_memo' memo.id %}'"><i class="fa fa-trash"></i></button>
                    </span>
                </div>
            </div>

            <script>
                linkPrint({{forloop.counter}});
            </script>
            {% endfor %}
    </div>
    <div class="paginator">
        {% if posts.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{posts.previous_page_number}}">Previous</a>
        {% endif %}
            <span>{{posts.number}}</span>
            <span>of<span>
            <span>{{posts.paginator.num_pages}}</span>

        {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}">Next</a>
            <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
    </div>

    <script>
      $(function() { 
            $('.directory-nav li button').click(function(e) {
                e.preventDefault();
                if ($(this).closest('button').attr('id') == "current"){
                    return
                } else {
                    $(".objects div").hide();
                }
            });
      });
    </script>
</div>
<footer class="footer">
    <h2 class="footer-title">LIKE LION</h2>
    <h5>khjvvv7@gmail.com</h5>
</footer>

{% include 'modal.html' %}
{% include 'moreModal.html' %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/query.js?ver=1.1"></script>
{% endblock %}