<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../static/css/default.css?ver=1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>링 크 모 아</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header class="main-header">
                <ul class="header-ul">
                    <li class="header-li1"><h2><a href="{% url 'board' %}">링크모아</a></h2></li>
                    {% if user.is_authenticated %}
                    
                    <li class="header-li2">
                        <form id="logout" method="POST" action="{%url 'logout'%}">
                                {% csrf_token%}
                                <input class="btn btn-primary" type="submit" value="로그아웃">
                        </form>
                    </li>
                    {% endif %}
                    <li class="header-li3"><a href="{% url 'board' %}">게시판</a></li>
                </ul>
        </header>
        <div class="items">
            {% for memo in memos.all %}
                <div class="memoContainer">
                    <h2>'<a href="#">{{memo.keyword}}</a>'를 포함하는 URL List</h2>
                    <span class="buttons">
                        <button class="i-btn"><i class="fa fa-edit"></i></button> 
                        <button class="i-btn"><i class="fa fa-plus"></i></button>
                        <button class="i-btn"><i class="fa fa-times"></i></button>
                    </span>
                    <p>{{memo.urls}}</p>
                    <button class="i-btn"onclick="location.href='{%url 'share_memo' memo.id %}'"><i class="fa fa-share-square-o"></i></button>
                    <button class="i-btn" onclick="location.href='{%url 'delete_memo' memo.id %}'"><i class="fa fa-trash"></i></button>
                </div>
            {% endfor %}
        </div>
        <div id = "app" class="search-bar">
            <form method="POST" action ="{% url 'make_memo' %}">
                {% csrf_token%} 
                <br>
                검색 : 
                <input id="keyword-search" type="text" placeholder="키워드 입력" name='key'>
                <button v-on:click="renew()">버튼</button>
                <br>
                <textarea class = "message" id="urlList" wrap="off" cols="50" rows="30" name='url' v-model="newMessage"></textarea>
            </form>
        </div>
        <div class="side-bar">
            <div id = "user-info">
                <h2>User Info</h2>
                {{user.id}}
            </div>

            <div id = "directory-bar">
                <h2>Directory-bar</h2>
                <form method="POST" action ="{% url 'mkdir' %}">
                    {% csrf_token%}
                    폴더 만들기 : <input id="mkdir" type="text" placeholder="폴더 이름 입력" name='dirname'>
                    <button class="i-btn"><i class="fa fa-plus"></i></button>
                </form>

                <nav class="directoryNav" role="navigation">
                    <ol id="directory-container">
                        <li class="directory"><a href="#">Recently</a>
                            <ol class="memolist">
                                {% for memo in memos.all %}
                                    {% if memo.directory == 'recently' %}
                                        <li class="memolink"><a href="#">{{memo.keyword}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </li>
                        {% for a in user.profile.get_fields_name %}
                        <li class="directory"><a href="#">{{a}}</a>
                            <ol class="memolist">
                            </ol>
                        </li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['{', '}'],
            data: {
                message: 'test app',
                newMessage: '',
            },
            created: function () {
                console.log("created");
            },
            mounted: function() {
                console.log("mounted");
                document.getElementById("urlList").defaultValue = localStorage.getItem('temp');
            },
            updated: function() {
                console.log("upadated");
            },
            methods: {
                renew: function(){
                    if(this.newMessage == '') this.newMessage = localStorage.getItem('temp');
                    localStorage.setItem('temp', this.newMessage);
                }
            },
        })
    </script>
</body>
</html>