{% extends 'base.html' %}
{% block content %}

<div class="urls">
    <form method="POST" action ="{% url 'make_memo' %}" class="">
        {% csrf_token%}
        <br>
        검색 : 
        <input class="urlArea searchTerm" id="urlList" wrap="off" name='url' v-model="newMessage">
        <input id="keyword-search" type="text" placeholder="키워드 입력" name='key' class="searchTerm">
        <button id="keyword-button" v-on:click="renew()" class="searchButton">
                <i class="fa fa-search" aria-hidden="true" ></i>
        </button>





        <br>
    </form>
</div>



<div class="lower-part">

    <form method="POST" action ="{% url 'mkdir' %}" class="form-mkdir">
        {% csrf_token%}
        <span class="mkdirtxt">폴더 만들기 : </span><input id="mkdir" type="text" placeholder="폴더 이름 입력" name='dirname' class="mkdir-input">
        <button class="i-btn"><i class="fa fa-plus"></i></button>
    </form>

    <div class="line">
        <ul class="directory-nav">
            <li class="directory-nav-items"><button class="d-nav-btns"onclick="location.href='{%url 'changedir' 'recently' %}'"><span class="d-nav-item"><span class="d-nav-item">Recently</span></button></li>
            {% for a in user.profile.get_fields_name %}
                <li class="directory-nav-items"><button class="d-nav-btns"onclick="location.href='{%url 'changedir' a %}'"><span class="d-nav-item">{{a}}</span></button></li>
            {% endfor %}
            <button class="edit-btn"id="setSelect" data-toggle="modal" data-target="#editdirModal" data-id= "{{memo.id}}"><span class="d-nav-item">편집</span></button>
        </ul>
    </div>

    <div class="objects">
        {% for memo in current.all %}

            <div class="memoContainer">
                <h2>'<a href="#">{{memo.keyword}}</a>'</h2>({{memo.directory}})
                <span class="buttons">
                    <button class="i-btn" type="button" data-toggle="modal" data-target="#editModal" data-id = "{{memo.id}}" data-keyword= "{{memo.keyword}}" data-urls="{{memo.urls}}"><i class="fa fa-edit"></i></button> 
                    <button class="i-btn"id="setSelect" data-toggle="modal" data-target="#moveModal" data-id= "{{memo.id}}"><i class="fa fa-folder"></i></button>
                </span>
                <div id="memotxt{{forloop.counter}}" style="display: none">{{memo.urls}}</div>

                <div id="result{{forloop.counter}}">sample</div>
                <div class="button-list">
                    <span class="btns">
                        <button class="i-btn"onclick="location.href='{%url 'share_memo' memo.id %}'"><i class="fa fa-upload"></i></button>
                        <button class="i-btn"onclick="location.href='{%url 'delete_memo' memo.id %}'"><i class="fa fa-trash"></i></button>
                    </span>
                </div>
            </div>

            <script>
                linkPrint({{forloop.counter}});
            </script>

        {% endfor %}
    </div>

    <script>
      $(function() { 
            $('.directory-nav li button').click(function(e) {
                e.preventDefault();
                if ($(this).closest('button').attr('id') == "current"){
                    return
                } else {
                    $(".objects div").hide();
                }
               
            });
      });

    
    </script>





</div>


    <script>
        function linkPrint(count) {
                var txtId = "memotxt"+count;
                var Mtxt = document.getElementById(txtId).innerHTML;
                var lines = Mtxt.split("\n");
                
                var Ptxt = "";
                for (var i =0 ; i<lines.length; i++) {
                    Ptxt += "<a href=";
                    Ptxt += lines[i];
                    Ptxt += ">";
                    Ptxt += lines[i];
                    Ptxt += "</a>"
                    Ptxt += "<br>"
                    Ptxt += "<br>"
                }
                var memoID = "result"+count;
                var blk = document.getElementById(memoID);
                blk.innerHTML = Ptxt;
                console.log(memoID);
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
        var selected="" ;
        var delcontext='폴더 삭제시 해당 폴더의 메모들도 함께 삭제됩니다.\n정말 삭제 하시겠습니까?';

        var app = new Vue({
            el: '#app',
            delimiters: ['{', '}'],
            data: {
                message: 'test app',
                newMessage: '',
            },
            created: function () {
                console.log("created");
            },
            mounted: function() {
                console.log("mounted");
                if(localStorage.getItem('temp') == null) localStorage.getItem('temp') = ''
                document.getElementById("urlList").defaultValue = localStorage.getItem('temp');
            },
            updated: function() {
                console.log("upadated");
            },
            methods: {
                renew: function(){
                    if(this.newMessage == '') this.newMessage = localStorage.getItem('temp');
                    localStorage.setItem('temp', this.newMessage);
                }
            },
        })
    </script>

    <script>
        var dirname // Global Variable(정원찡's Good idea ㅎㅎ)

        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var keyword = button.data('keyword')
            var urls = button.data('urls')

            var modal = $(this)

            modal.find('.modal-title').text('편집하기')
            modal.find('.modal-body input').val(keyword)
            modal.find('.modal-body textarea').val(urls)

            $('.modal-complete').click(function(){

                console.log($("#keyword").val())
                console.log($("#urls").val())

                splited_urls = $("#urls").val().split('\n')

                modal.find('.modal-footer a').attr('href', '/edit_memo/' + id + '/' + $("#keyword").val() + '/' + splited_urls)
            })
        })

        $('#moveModal').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget)
            var id = button.data('id')
            var modal = $(this)

            $('.recently-clicked').click(function(){

                var recently = document.getElementById("recently").name
                modal.find('.modal-body a').attr('href', '/movedir/' + id + '/' + recently)
            })

            $('.dirname-clicked').click(function(){

                modal.find('.modal-body a').attr('href', '/movedir/' + id + '/' + dirname)
            })

        })
        
        function setDirname(name){

            dirname = name
        }
    </script>

{% endblock %}