{% extends 'base.html' %}
{% block content %}

<body>
    <div class="line"></div>
    <div class="board">
        {% if searched_memos %}
        {% for memo in searched_memos.all %}

        <div class="memoContainer">
            <h2>'<a href="#">{{memo.keyword}}</a>'</h2>
            <h4>{{memo.owner}}</h4>
            <p>{{memo.urls}}</p>
            {% if user.is_authenticated %}
                {% if user.id == memo.user_id %}
                <button class="i-btn"onclick="location.href='{%url 'undo_share' memo.id %}'"><i class="fa fa-undo"></i></button>
                {% else %}
                <button class="i-btn"onclick="location.href='{%url 'download_memo' memo.id %}'"><i class="fa fa-cloud-download"></i></button>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
        {% else %}
        검색 결과를 찾을 수 없습니다.
        {% endif %}

<div class="container">
</div>
{% endblock %}
