{% extends 'base.html' %}
{% block content %}

<div class="board">
    <div class="lower-part">
        <div class="line"></div>
        <div class="objects">
        {% for memo in tag_posts %}
        <div class="memoContainer">
            <h2>'<a href="#">{{memo.keyword}}</a>'</h2>
            <h4>{{memo.owner}}</h4>
            <div id="memotxt{{forloop.counter}}" style="display: none">{{memo.urls}}</div>

            <div id="result{{forloop.counter}}">sample</div>
            <a href="#" data-toggle="modal" data-target="#moreModal" data-id = "{{memo.id}}" data-keyword= "{{memo.keyword}}" data-urls="{{memo.urls}}">&nbsp;더보기...</a><br><br>
            {% load tagging_tags %}
            {% tags_for_object memo as tags %}
            {% for tag in tags %}
            <a href="{% url 'tag_board' tag.name %}">#{{tag.name}}</a>
            {% endfor %}
            <div class="button-list">
                {% if user.is_authenticated %}
                {% if user.id == memo.user_id %}
                <button class="i-btn"onclick="location.href='{%url 'undo_share' memo.id %}'"><i class="fa fa-undo"></i></button>
                {% else %}
                <button class="i-btn"onclick="location.href='{%url 'download_memo' memo.id %}'"><i class="fa fa-cloud-download"></i></button>
                {% endif %}
            {% endif %}
            </div>
            <script>
                linkPrint({{forloop.counter}});
            </script>
        </div>
        {% endfor %}
        </div>
        <div class="paginator">
                {% if tag_posts.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{tag_posts.previous_page_number}}">Previous</a>
                {% endif %}
                    <span>{{tag_posts.number}}</span>
                    <span>of<span>
                    <span>{{tag_posts.paginator.num_pages}}</span>
        
                {% if tag_posts.has_next %}
                    <a href="?page={{tag_posts.next_page_number}}">Next</a>
                    <a href="?page={{tag_posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
    </div>
</div>

{% include 'moreModal.html' %}

<footer class="footer">
    <h2 class="footer-title">LIKE LION</h2>
    <h5>khjvvv7@gmail.com</h5>
</footer>
    
<script src="../../static/js/query.js"></script>

{% endblock %}